In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("newtitanicdataset.csv")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,FarePerPerson,AgeGroup
0,892,0,3,"Kelly, Mr. James",0,0.386231,0,0,330911,-0.498407,Q,1,7.829200,3
1,894,0,2,"Myles, Mr. Thomas Francis",0,2.553537,0,0,240276,-0.465089,Q,1,9.687500,5
2,895,0,3,"Wirz, Mr. Albert",0,-0.204852,0,0,315154,-0.483466,S,1,8.662500,3
3,897,0,3,"Svensson, Mr. Johan Cervin",0,-1.229397,0,0,7538,-0.473381,S,1,9.225000,2
4,899,0,2,"Caldwell, Mr. Albert Francis",0,-0.283663,1,1,248738,-0.118823,S,3,9.666667,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,961,1,1,"Fortune, Mrs. Mark (Mary McDougald)",1,2.395915,1,4,19950,4.076705,S,6,43.833333,4
528,944,1,2,"Hocking, Miss. Ellen Nellie""""",1,-0.756530,2,1,29105,-0.226401,S,4,5.750000,3
529,966,1,1,"Geiger, Miss. Amalie",1,0.425637,0,0,113503,3.153331,C,1,211.500000,3
530,1142,1,2,"West, Miss. Barbara J",1,-2.260246,1,2,C.A. 34651,-0.141235,S,4,6.937500,1
531,962,1,3,"Mulvihill, Miss. Bertha E",1,-0.441286,0,0,382653,-0.499827,Q,1,7.750000,3

# Building and Evaluating a Machine Learning Model